body{
    background-image: url(https://i.pinimg.com/736x/0f/33/39/0f33398ea03efca5d76a6c4c9bf29164.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

div form {
    background-color: rgba(255, 255, 255, 0.8); /* soft white transparency */
    padding: 30px 40px;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    text-align: center;
    width: 100%;
    max-width: 500px;
}

h1 {
    font-size: 1.5rem;
    color: #b32d2e;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}

h3 {
    font-size: 1.5rem;
    color: #b26c6c;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}

label {
    color: #333;
    font-weight: 500;
    display: block;
    text-align: left;
}

input.form-control {
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 8px;
}

button {
    margin-top: 15px;
    font-weight: bold;
}

#output {
    margin-top: 20px;
    font-size: 1.1rem;
    font-weight: 500;
    color: #222;
}